<div class="container mt-5">
  <button class="btn btn-success w-100" >Emprestar novo livro.</button>
  <div>
    <label class="form-label">Pesqisar:</label>
    <input
      class="form-control"
      type="text"
      placeholder="Qual livro deseja buscar?"
      (input)="search($event)"
    />
  </div>
  <div class="text-center">
  <table class="table table-hover table-borderd mt-5">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Livro</th>
        <th>Usuario</th>
        <th>Situação</th>
        <th></th>
      </tr>
    </thead>

    <tbody >
      @if (emprestimo.length > 0) {
          @for (emprestimos of emprestimo; track $index) {

            <tr>
              <td>{{ emprestimos.id }}</td>
              <td>{{ emprestimos.livro.titulo }}</td>
              <td>{{ emprestimos.usuario.nome}}</td>
              <td>{{ emprestimos.devolvido == true ?"Devolvido":"Emprestimo"}}</td>
              <td>
                <button class="btn btn-warning mx-2" >Editar</button>
                <button class="btn btn-danger mx-2" (click)="deletar(emprestimos.id)">Excluir</button>
              </td>
            </tr>
          }
      }@else {
        <tr class="text-center">
          <td colspan="4">Nenhum livro cadastrado com este nome!</td>
        </tr>
      }


    </tbody>

  </table>
</div>
</div>
