<div class="container mt-5">
  <button class="btn btn-success w-100">Cadastrar novo livro.</button>
  <div>
    <label class="form-label">Pesqisar:</label>
    <input
      class="form-control"
      type="text"
      placeholder="Qual livro deseja buscar?"
    />
  </div>

  <table class="table table-hover table-borderd mt-5">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th></th>
      </tr>
    </thead>

    <tbody >
      @if (livros.length > 0) {
          @for (livro of livros; track $index) {

            <tr>
              <td>{{ livro.id }}</td>
              <td>{{ livro.titulo }}</td>
              <td>{{ livro.autor }}</td>
              <td>
                <button class="btn btn-warning mx-2">Editar</button>
                <button class="btn btn-danger mx-2">Excluir</button>
              </td>
            </tr>
          }
      }

    </tbody>
  </table>
</div>
